/* В начале файла или в :global() для Svelte */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --Xl-font-family: "Roboto", sans-serif;
  --Xl-font-weight: 300;
  --Xl-letter-spacing: -0.02rem;
  --Xl-font-style: normal;
}

* {
  font-family: var(--Xl-font-family);
  font-weight: var(--Xl-font-weight);
  letter-spacing: var(--Xl-letter-spacing);
  font-style: var(--Xl-font-style);
}
